<div>
  <div>
    <h1>
      Pet #<%= @pet.id %> details
    </h1>

    <div>
      <div>
        <a href="/pets">
          Go back
        </a>

        <%= link_to "Go back", pets_path %>
      </div>

      <div>
        <a href="/pets/<%= @pet.id %>" data-method="delete">
          Delete pet
        </a>

        <%#= link_to "Delete pet", pet_path(@pet), data: { method: "delete" } %>
        <%= link_to "Delete pet", pet_path(@pet), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary", id: "whatever" %>
        
        <%= link_to "Delete pet", @pet, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary", id: "whatever" %>
      </div>

      <div>
        <a href="/pets/<%= @pet.id %>/edit">
          Edit pet
        </a>

        <%= link_to "Edit pet", edit_pet_path(@pet) %>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @pet.name %>
      </dd>

      <dt>
        Age
      </dt>
      <dd>
        <%= @pet.age %>
      </dd>

      <dt>
        Species
      </dt>
      <dd>
        <%= @pet.species_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@pet.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@pet.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>
